/*----------
    COLORS
----------- */
.lm-bg-blue-dark{
    background-color: #2C3E50;
}

.lm-bg-acqua{
    background-color: #1ABC9C;
}

.lm-bg-red{
    background-color: #BA4B63;
}

.lm-bg-light-blue{
    background-color: #1C83C1;
}

.lm-bg-dark-blue{
    background-color: #1C83C1;
}

.lm-bg-rose{
    background-color: #CCB2A3;
}

.lm-bg-blue{
    background-color: #0E38B5;
}

.lm-bg-blue-grey{
    background-color: #3A546D;
}

/*------------
    UTILITY
--------------*/

.lm-footer-logo{
    display: inline;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.6em 0.6em;
    object-fit: fill;
}

header .nav-item:hover .lm-hover-color-change {
    color: #1ABC9C;
}

.lm-contact-form input{
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 0;
    
}

.lm-contact-form input:focus{
    box-shadow: none;
    border-color: grey;
}

.lm-contact-form .lm-message-box{
    min-height: 150px;
}

.lm-column-form .lm-form-btn{
    background-color: #1ABC9C;
    color: white;
    font-weight: bold;
}

.lm-column-form button:hover{
    color: #1ABC9C;
    border: solid 1px #1ABC9C;

}

.lm-decoration-bar{
    border-radius: 10px;
    width: 100%;
    height: 6px;
}

.star-color{
    color: #2C3E50;
}

.lm-portfolio-sctn .lm-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    z-index: 1;
    background-color: #1abc9c80;
    color: white;
    opacity: 0;
    transition: opacity 0.4s;
    font-size: 90px;
}

.lm-overlay-col:hover .lm-overlay{
    opacity: 1;
} 

