/*----------
    COLORS
----------- */
.lm-bg-blue-dark{
    background-color: #2C3E50;
}

.lm-bg-acqua{
    background-color: #1ABC9C;
}

.lm-bg-red{
    background-color: #BA4B63;
}

.lm-bg-light-blue{
    background-color: #1C83C1;
}

.lm-bg-dark-blue{
    background-color: #1C83C1;
}

.lm-bg-rose{
    background-color: #CCB2A3;
}

.lm-bg-blue{
    background-color: #0E38B5;
}

.lm-bg-blue-grey{
    background-color: #3A546D;
}

.lm-footer-logo{
    display: inline;
    border: 1px solid white;
    border-radius: 50%;
    padding: 12px;
    object-fit: fill;
}

.lm-hover-blue:hover .lm-hover-color-change {
    color: #1ABC9C;
}

